/** @format */

a {
  color: var(--primary-color);
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
}

h1,
h2 {
  font-family: MontserratBold;
  font-size: 2rem;
  display: block;
  margin: 0;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.emoji {
  font-size: 1.3rem;
}

figcaption {
  font-size: 0.8rem;
}
