/** @format */

@font-face {
  font-family: MontserratBold;
  src: url("../fonts/MontserratBold.ttf");
}

@font-face {
  font-family: MerriweatherSans-Regular;
  src: url("../fonts/MerriweatherSans-Regular.ttf");
}

html {
  font-size: 16px;
  line-height: 1.75;
  font-family: MerriweatherSans-Regular;
  background-color: #fff;
}
body {
  margin: 0;
}
h1,
h2 {
  font-family: MontserratBold;
  font-size: 2rem;
  display: block;
}

p {
  margin-bottom: 1.7rem;
}

.container {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.aboutMe .textWrapper {
  width: 80%;
  float: left;
  margin-left: 50px;
}

.aboutMe {
  display: flex;
}

.aboutMe .imageWrapper {
  width: 15%;
  float: left;
}

.aboutMe .textWrapper p {
  margin-bottom: 10px;
}

.button {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s;
}

.primaryContained {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.primaryContained:hover {
  border: 1px solid #fff;
  background: #fff;
  color: var(--primary-color);
}

.navigationWrapper {
  background: var(--primary-color);
  height: 70px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation a {
  color: #fff;
  font-family: MontserratBold;
  font-size: 1.7rem;
}

.navigation a.myName {
  flex: 6;
}

.navigation a.about,
.navigation a.blog {
  flex: 1;
}

.aboutMeWrapper {
  background: #efefef;
  min-height: 320px;
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  width: auto;
  float: left;
  height: 130px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.textWrapper {
  margin-left: 40px;
}

.posts h2,
.posts h1,
.posts > p {
  margin-bottom: 0;
}
.posts h2 {
  line-height: 1;
  margin-top: 1.8rem;
  margin-bottom: 10px;
}

.emoji {
  font-size: 1.3rem;
}

footer {
  height: 100px;
  height: 60px;
  margin-top: 60px;
}

footer a {
  margin: 0 0px;
}
