@font-face {
  font-family: MontserratBold;
  src: url("/fonts/MontserratBold.ttf");
}

@font-face {
  font-family: MerriweatherSans-Regular;
  src: url("/fonts/MerriweatherSans-Regular.ttf");
}

html {
  font-size: 18px;
  line-height: 1.75;
  font-family: MerriweatherSans-Regular;
  background-color: #fff;
}
body {
  margin: 0;
}
